<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NREGA Report Dashboard">
  <meta name="author" content="Ravi Suhag">
  <link rel="shortcut icon" href="assets/img/favicon.png">
  <title>NREGA - Report Dashbaord</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/c3.css" rel="stylesheet">
  <link href="assets/css/layout.css" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="navbar navbar-fixed-top navbar-default nrd-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img class="logo" src="assets/img/Emblem_of_India.png" alt="">&nbsp;&nbsp;&nbsp;
          <strong>MNREGA</strong>
          <small>Dashboard</small>
          <img class="brush" src="assets/img/brush_125.png" alt="">
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="#">Home</a>
          </li>
          <li><a href="#about">About</a>
          </li>
          <li><a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <section class="sub-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-home"></span>Home</a>
            </li>
            <li class="active">
              <a href="#">
                <span class="glyphicon glyphicon-dashboard"></span>Report Dashboard</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-tasks"></span>Public Data Portal</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-stats"></span>Data Analyzer</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

        <div class="panel-group nrd-accordion sidebar-wrap" id="nrd-accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#nrd-accordion" href="#collapseOne">
                  <span class=" glyphicon glyphicon-record"></span>&nbsp;&nbsp;Reports
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <ul class="nav nav-sidebar">
                  <li class="active"><a href="#">Demand Registration</a>
                  </li>
                  <li><a href="#">Physical Progress</a>
                  </li>
                  <li><a href="#">Financial Progress</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#nrd-accordion" href="#collapseTwo">
                  <span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;Rankings
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                sss
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#nrd-accordion" href="#collapseThree">
                  <span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;SMS Service
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                dfdf
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="status-bar">
          <div class="btn-group pull-right">
            <a href="tabular.html" class="btn btn-default"><span class="glyphicon glyphicon-th"></span>&nbsp;Table View</a>
            <a href="index.html" class="btn btn-default active"><span class="glyphicon glyphicon-stats"></span>&nbsp; Graph View</a>
          </div>

          <button type="button" class="btn btn-sm btn-warning">Select State
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button type="button" class="btn btn-sm btn-warning">Select District
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button type="button" class="btn btn-sm btn-warning">Select Block
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button type="button" class="btn btn-sm btn-success">View Results
            <span class="glyphicon glyphicon-search"></span>
          </button>
          
          <!-- <ol class="breadcrumb nrd-breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
          </ol> -->
        </div>
        <div class="main-content">
          <h3>Demand Registration</h3>
          <div class='chart'>
            <div id='chart'></div>
          </div>
          <br>
          <h3>Physical Progress</h3>
          <div class="chart">
            <div id="phy_chart"></div>
          </div>
          <h3>Financial Progress</h3>
          <div class="chart">
            <div id="fin_chart"></div>
          </div>

        </div>










        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </section>










  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/d3.v3.min.js"></script>
  <script src="assets/js/c3.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>
