<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NREGA Report Dashboard">
  <meta name="author" content="Ravi Suhag">
  <link rel="shortcut icon" href="assets/img/favicon.png">
  <title>NREGA - Report Dashbaord</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/c3.css" rel="stylesheet">
  <link href="assets/css/layout.css" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="navbar navbar-fixed-top navbar-default nrd-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img class="logo" src="assets/img/Emblem_of_India.png" alt="">&nbsp;&nbsp;&nbsp;
          <strong>MNREGA</strong>
          <small>Dashboard</small>
          <img class="brush" src="assets/img/brush_125.png" alt="">
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="#">Home</a>
          </li>
          <li><a href="#about">About</a>
          </li>
          <li><a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <section class="sub-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-home"></span>Home</a>
            </li>
            <li class="active">
              <a href="#">
                <span class="glyphicon glyphicon-dashboard"></span>Report Dashboard</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-tasks"></span>Public Data Portal</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-stats"></span>Data Analyzer</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="#">Select State</a>
          </li>
          <li><a href="#">Select District</a>
          </li>
          <li><a href="#">Select Block</a>
          </li>
          <li><a href="#">Select GP</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3>Demand Registration</h3>
        <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="2">Parameter</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">Demand Registered this month</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">Work Alloted</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">Unmet Demand</td>
              <td>34349</td>
            </tr>
            <tr>
              <td rowspan="2">Unemployment Allowances</td>
              <td>Due for PDs</td>
              <td>234</td>
            </tr>
            <tr>
              <td>Amount Payable</td>
              <td>56767</td>
            </tr>
          </tbody>
        </table>
        <h3>Physical Progress</h3>
        <br>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="2">Parameter</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">Persondays: LB Approved </td>
              <td>34349</td>
            </tr>
            
            <tr>
              <td rowspan="3">PersonDays: PD Generated</td>
              <td>SC %</td>
              <td>23</td>
            </tr>
            <tr>
              <td>ST %</td>
              <td>67</td>
            </tr>
            <tr>
              <td>Women %</td>
              <td>56</td>
            </tr>
            <tr>
              <td colspan="2">HHs provided employment</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">Work completion rate</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">Total GPs</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">GPs with nil expenditure</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">GPs with no employment generation in last month</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">GPs with no approbed works</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">GPs with no ongoing works</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">HHS completed 100 days</td>
              <td>34349</td>
            </tr>
          </tbody>
        </table>

        <h3>Financial Progress</h3>
        <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="2">Parameter</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">Total Expenditure</td>
              <td>Wage %</td>
              <td>23</td>
            </tr>
            <tr>
              <td>Admin %</td>
              <td>56</td>
            </tr>
            <tr>
              <td rowspan="2">Delayed Payment</td>
              <td>PDs Payable</td>
              <td>23</td>
            </tr>
            <tr>
              <td>Amount payable %</td>
              <td>56</td>
            </tr>


            <tr>
              <td colspan="2">Average wage per PD</td>
              <td>34349</td>
            </tr>
            <tr>
              <td colspan="2">Average cost per PD</td>
              <td>34349</td>
            </tr>

            <tr>
              <td rowspan="5">eFMS</td>
              <td>Total number of blocks %</td>
              <td>23</td>
            </tr>
            <tr>
              <td>Started in No. of blocks(wages)</td>
              <td>56</td>
            </tr>
            <tr>
              <td>Started in No. of blocks(Material)</td>
              <td>56</td>
            </tr>
            <tr>
              <td>Started in No. of blocks(Admin)</td>
              <td>56</td>
            </tr>
            <tr>
              <td>% of expenditure through eFMS</td>
              <td>56</td>
            </tr>



            <tr>
              <td rowspan="2">DBT</td>
              <td>% of active workers A/Cs freezed</td>
              <td>56</td>
            </tr>
            <tr>
              <td>% of aadhar seeding against total active worker</td>
              <td>56</td>
            </tr>


          </tbody>
        </table>










        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </section>










  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/d3.v3.min.js"></script>
  <script src="assets/js/c3.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>
