<section class="sub-nav" ng-controller="villageviewCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-dashboard"></span>&nbsp;Report Dashboard</a>
          </li>
          <li>
            <a target="_blank" href="http://mnregaweb4.nic.in/netnrega/dynamic2/dynamicreport_new4.aspx">
              <span class="glyphicon glyphicon-tasks"></span>&nbsp;Public Data Portal</a>
          </li>
          <li class="active">
            <a href="#/villageview">
              <span class="glyphicon glyphicon-tasks"></span>&nbsp;Village View</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>


<section class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="sidebar-header">
        <span class="glyphicon glyphicon-sound-stereo"></span>&nbsp;FILTERS
      </div>

      <selectstate></selectstate>
      <selectdistrict></selectdistrict>
      <selectblock></selectblock>
      <selectgp></selectgp>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="status-bar btselector warning">
        <span class="brcrumb">
           {{getKeyByValue(regions[0], selectedState)}}
          <span ng-show="selectedDistrict" class="glyphicon glyphicon-chevron-right"></span> {{getKeyByValue(regions[1][selectedState], selectedDistrict)}}
        <span ng-show="selectedBlock" style="font-weight:lighter" class="glyphicon glyphicon-chevron-right"></span> {{getKeyByValue(regions[2][selectedState][selectedDistrict], selectedBlock)}}
        <span ng-show="selectedGP" style="font-weight:lighter" class="glyphicon glyphicon-chevron-right"></span> {{gps[selectedGP]}}
        </span>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-success" ng-click="switchview()" ng-class="{'active disabled': isStat==false}">
            <span class="glyphicon glyphicon-stats"></span>&nbsp; Work Details
          </button>
          <button type="button" class="btn btn-success" ng-click="switchview()" ng-class="{'active disabled': isStat==true}">
            <span class="glyphicon glyphicon-th"></span>&nbsp; Village Stats
          </button>

        </div>
        <div class="clearfix"></div>
      </div>

      <div ng-show="isStat" ng-include="'modules/villageview/vv_statView.html'"></div>
      <div class="">
        <div style="width:100%">
          <div ng-hide="isStat" ng-include="'modules/villageview/vv_workView.html'"></div>
        </div>
      </div>


      <div ng-include="'modules/global/views/footer.html'"></div>

    </div>
  </div>
</section>
