<div class="container-fluid">
  <div class="row villageview_work">


    <!-- Column Loaders -->
    <div ng-hide="column['1'].status" class="vv_homescreen col-md-12 text-center">
      <div class="p-20">
        <span>Select a panchayat at left, then make a selection below to start exploring MGNREGA</span>
      </div>
      <button ng-disabled='!selectedGP' ng-click="loadColumn('WORKS', 1)" type="button" class="btn btn-lg btn-default">
        <span class="glyphicon glyphicon-cog"></span>
        <br> WORKS
      </button>
      <button ng-disabled="!selectedGP" ng-click="loadColumn('MUSTERS', 1)" type="button" class="btn btn-lg btn-default">
        <span class="glyphicon glyphicon-file"></span>
        <br> MUSTERS
      </button>
      <button ng-disabled="!selectedGP" ng-click="loadColumn('WORKERS', 1)" type="button" class="btn btn-lg btn-default">
        <span class="glyphicon glyphicon-user"></span>
        <br> WORKERS
      </button>
    </div>

    <div ng-show="column['1'].status" class="col-md-4 column">
      <div class="vv_header">
        <span class="glyphicon glyphicon-cog"></span> {{column['1'].name}} </div>
      <div class="vv_content">
        <div ng-include src="'/modules/villageview/'+ column['1'].name + '_template.html'"></div>
      </div>
    </div>


    <div ng-if="column['2'].status" class="col-md-4 column">
      <div class="vv_header">
        <span class="glyphicon glyphicon-cog"></span> {{column['2'].name}} </div>
      <div class="vv_content">
        <div ng-include src="'/modules/villageview/'+ column['2'].name+ '_template.html'"></div>
      </div>
    </div>


    <div ng-if="column['3'].status" class="col-md-4 column">
      <div class="vv_header">
        <span class="glyphicon glyphicon-cog"></span> {{column[3].name}} </div>
      <div class="vv_content">
        <div ng-include src="'/modules/villageview/'+ column['3'].name + '_template.html'"></div>
      </div>
    </div>


    <!-- Column 2 and Column 3 loader  -->
    <div ng-hide="!column['1'].status || column['2'].status" class="vv_homescreen col-md-8 text-center">
      <button ng-if="column[1].name != 'WORKERS'" ng-click="loadColumn('WORKERS', 2)" type="button" class="btn btn-lg btn-default">
        <span class="glyphicon glyphicon-user"></span><br> WORKERS
      </button>
      <button  ng-if="column[1].name != 'MUSTERS'" ng-click="loadColumn('MUSTERS', 2)" type="button" class="btn btn-lg btn-default">
        <span class="glyphicon glyphicon-file"></span><br> MUSTERS
      </button>
      <button  ng-if="column[1].name != 'WORKS'" ng-click="loadColumn('MUSTERS', 2)" type="button" class="btn btn-lg btn-default">
        <span class="glyphicon glyphicon-file"></span><br> WORKS
      </button>
    </div>










  </div>
</div>


<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Detail
       <button class="btn btn-warning pull-right" ng-click="cancel()">X</button>
    </h3>
  </div>
  <div class="modal-body detail">
    <table class="table table-striped">
      <tr ng-repeat="(key, value) in detailItem">
        <td>{{key}}</td>
        <td>{{key == 'workers' ? value.length : value }}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
  </div>
</script>
