<div ng-repeat="worker in workers" class="vv_field" ng-class="{'active': worker.worker_code == activeRow.worker.worker_code }" ng-click="loadRow('worker', worker)">
  <div class="pull-right">
    <br>
    <span ng-hide="column['3'].name === 'worker'" class="glyphicon glyphicon-chevron-right"></span>
    <br>
    <br>
  </div>

  <div class="top_title">
    <span class="text-danger">{{worker.job_card_number}}</span>
    <span class="pull-right top_date">{{worker.gender}}</span>

  </div>
  <div class="title">{{worker.worker_name}}</div>
  <div class="status">
    <!--Rs. {{worker.pending_payment_for_muster || worker.pending_payment}}-->
    Registered on {{worker.reg_date}}
   <!-- <span class="status_sep">|</span> {{worker.days_worked || worker.no_days_work_for_muster}} days-->
    <a class="pull-right" ng-click="open(worker, 'worker')">Detail</a>
  </div>
</div>
