<div ng-repeat="work in works" class="vv_field" ng-class="{'active': work.work_code == activeRow.work.work_code }" ng-click="loadRow('work', work)">
  <div class="top_title">
    <span class="text-danger">{{work.work_cat_code}}</span>
    <span class="pull-right top_date">{{ parseDate(work.start_date_for_work) | date : 'mediumDate' }} - {{parseDate(work.completion_date_for_work) |date : 'mediumDate'}}</span>

  </div>
  <div class="title">{{work.work_name}}
    <div class="pull-right">

      <span ng-hide="column['3'].name === 'work'" class="glyphicon glyphicon-chevron-right"></span>

    </div>
  </div>
  <div class="status">
    {{work.work_code}}
    <!--<span class="status_sep">|</span> Rs. {{work.total_exp_for_work | number:2}}-->
    <a class=" pull-right" ng-click="open(work, 'work')">Detail</a>
  </div>

</div>
