/*-------------[ Global : Base ]-------------------*/
 body {
  background-color: #fcf8ee;
  margin-top: 70px;
  font-family: Roboto;
}
/*-------------[ Global: Navbar]-------------------*/
 .nrd-nav {
  background: #f3ede1;
  border-bottom: 1px solid #cAc3b4;
  color: #444;
  padding: 10px 0 9px;
  margin-bottom: 0;
}
.nrd-nav .navbar-brand {
  padding: 0;
  margin: 0;
  color: #453531;
}
.nrd-nav .logo {
  height: 100%
}
.nrd-nav .brush {
  height: 17px
}
.nrd-nav .navbar-nav > li > a {
  color: #9f8447;
}
.nrd-nav .navbar-nav > li > a:hover, .nrd-nav .navbar-nav > li > a:focus {
  color: #333;
}
.nrd-nav .navbar-nav > .active > a, .nrd-nav .navbar-nav > .active > a:hover, .nrd-nav .navbar-nav > .active > a:focus {
  color: #333;
  background-color: transparent;
}
.nrd-nav .navbar-toggle {
  border-color: transparent;
}
.nrd-nav .navbar-toggle:hover {
  background-color: transparent;
  border-color: #f5f5f5;
}
.nrd-nav .navbar-toggle .icon-bar {
  background-color: #c5b591;
}
.nrd-nav .navbar-toggle:hover .icon-bar {
  background-color: #c83252;
}
/*-------------[ Global: Sub-nav]-------------------*/
 .sub-nav {
  background-color: #f3ede1;
  border-bottom: 1px solid #cAc3b4;
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 900
}
.sub-nav .nav-pills {
  margin-left: -15px;
}
.sub-nav .nav-pills>li+li {
  margin-left: 0;
}
.sub-nav .nav-pills a {
  color: #333;
  padding: 15px 37px;
  border-right: solid 1px #cAc3b4;
  border-radius: 0;
}
.sub-nav .nav-pills> li:first-child >a, .sub-nav .nav-pills> li.active:first-child >a. .sub-nav .nav-pills> li.active:first-child >a:hover, .sub-nav .nav-pills> li.active:first-child >a:focus {
  border-left:solid 1px #cAc3b4;
}
.sub-nav .nav-pills>li.active>a, .sub-nav .nav-pills>li.active>a:hover, .sub-nav .nav-pills>li.active>a:focus {
  color: #000;
  border-radius: 0;
  background-color: #cAc3b4;
  border: 0;
}
/*-------------[ Global: Sidebar]-------------------*/
 .sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 121px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f3ede1;
    border-right: 1px solid #cAc3b4;
  }
}
/* Sidebar navigation */
 .sidebar-wrap {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top: -21px;
}
.nav-sidebar {
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li > a:hover {
  background-color: transparent;
}
.nav-sidebar > .active > a {
  color: #000;
  background-color: #428bca;
  font-weight: 500;
  background-color: transparent;
}
.nrd-accordion .panel-default {
  border-radius: 0;
  margin-top: 0 !important;
  background-color: transparent;
  border-bottom: 0;
  border-color:#cAc3b4;
  box-shadow: none;
}
.nrd-accordion .panel-default > .panel-heading {
  background-color: transparent;
  padding: 15px;
}
.nrd-accordion .panel-default > .panel-heading .panel-title {
  font-weight: normal;
}
.nrd-accordion .panel-default > .panel-collapse {
  border: 0;
}
/*-------------[ Global: Main]-------------------*/
 .main {
  margin-top: 50px;
  padding: 0;
}
.main-content {
  padding: 20px;
}
.status-bar {
  border-bottom: solid 1px #ddd;
  padding: 8px 20px 9px;
}
.nrd-breadcrumb {
  padding: 0;
  margin: 0;
  background:transparent;
}
.main .page-header {
  margin-top: 0;
}
.selector {
  width:100%;
  margin-bottom: 10px;
}
.sidebar-header{
  font-size: 16px;
  border-bottom: solid 1px #ddd;
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top: -20px;
  padding:14px 20px;
  font-weight: 600;
}
.sidebar h5{
  margin-top: 0;
  padding-top: 0;
}
.brcrumb{
  font-size: 15px;
  padding-top: 8px;
  display: inline-block;
}

/*-------------[ Global: Viz]-------------------*/
.chart{
  border:solid 1px #ddd;
  width: 100%;
  padding:0;
  border-radius: 2px;
  /*background-color: rgba(252, 248,238,1);*/
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0px 0px 1px rgba(0,0,0,0);
  margin-bottom: 20px;
}
.chart-header{
  padding: 14px 20px;
  color: #333;
  font-size: 17px;
  background-color: #f3ede1;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
}



@media print {
  .sidebar{
    display: none;
  }
  .main-content{
    width: 100%
  }
}


/**/
.pdp-main{
  padding-top: 90px;
}
/*-------------[ Global: Viz]-------------------*/
.pdpslct-box{
  border:solid 1px #ccc;
  width: 100%;
  padding:0;
  border-radius: 4px;
  overflow: hidden;
  /*background-color: rgba(252, 248,238,1);*/
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}
.pdpslct-header{
  padding: 12px 18px;
  color: #333;
  font-size: 16px;
  background-color: #f3ede1;
  border-bottom: solid 1px #ddd;
  margin-bottom:0px;
}
.pdpslct-content{
  max-height: 490px;
  overflow: scroll;
  padding: 10px;
}
.pdpslct-box h4{
  font-size: 16px;
  font-weight: bold;
}
.pdpslct-box h5{
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px
}
.pdpslct-box ul {
  padding-left: 10px;
}
.region-list{
  font-size: 13px;
  padding-left: 0px;
  margin-left: -20px
}
.region-list .checkbox{
  padding-left: 15px;
}
.region-list .checkbox input{
  float: none;
  display: inline-block;
  margin-right: 4px;
  margin-left: 2px;

}
.region-list .checkbox .detail{
  cursor: pointer;
}

/* Village view */
.villageview_work{

}
.villageview_work .column{
  border-right: solid 1px #ddd; 
  padding: 0;  
 
} 
.villageview_work .vv_header{
  border-bottom: solid 1px #dfdfdf;
  padding: 7px 5px;
  font-weight: bold;  
  background-color: rgba(255, 255, 255, 0.2);
}
.vv_content{
  height: 620px;
  overflow-y: scroll; 
  word-wrap: break-word;
}
.vv_field{
  padding: 10px;
  border-bottom: solid 1px #dfdfdf;
}
.vv_field .top_title{
  font-size: 13px;
}
.vv_field .status{
  color: #666;
  font-size:13px;
  font-style: italic;
}
.vv_field .top_title .top_date{
  color: #999
}
.vv_field .title{
  padding: 5px 0;
  font-size: 15px;
}

.vv_field .status_sep{
  color: #000;
  /*font-weight: bold;*/
  font-style: normal;
  font-size: 16px;
  padding: 0 5px;
}



.footer{
  padding: 20px;
  background-color: #f3ede1;
  border-top: 1px solid #cAc3b4
}
.text-box{
  width: 300px;
  display: inline;
}
.footer img{
  padding: 0 20px;
}


