/*-------------[ Global : Base ]-------------------*/
body{
	background-color: #fcf8ee;
}


/*-------------[ Global: Navbar]-------------------*/
.nrd-nav{
	background: #f3ede1;
	border-bottom: 1px solid #cAc3b4;
	color: #444;
	padding: 14px 0 13px;
	margin-bottom: 0;
}
.nrd-nav .navbar-brand{
	padding: 0;
	margin: 0;
	color: #453531;
}
.nrd-nav .logo{
  height: 100%
}
.nrd-nav .brush{
  height: 17px
}
.nrd-nav .navbar-nav > li > a {
  color: #9f8447;
}
.nrd-nav .navbar-nav > li > a:hover,
.nrd-nav .navbar-nav > li > a:focus  {
  color: #333;
}
.nrd-nav .navbar-nav > .active > a,
.nrd-nav .navbar-nav > .active > a:hover,
.nrd-nav .navbar-nav > .active > a:focus {
  color: #333;
  background-color: transparent;
}
.nrd-nav .navbar-toggle {
  border-color: transparent;
}
.nrd-nav .navbar-toggle:hover {
  background-color: transparent;
  border-color: #f5f5f5;
}
.nrd-nav .navbar-toggle .icon-bar {
	background-color: #c5b591;
}
.nrd-nav .navbar-toggle:hover .icon-bar {
	background-color: #c83252;
}

/*-------------[ Global: Sub-nav]-------------------*/
.sub-nav{
	background-color: #f3ede1;
	border-bottom: 1px solid #cAc3b4;
}
.sub-nav .nav-pills{
	margin-left: -15px;
}
.sub-nav .nav-pills a{
	color: #333;
	padding: 15px 37px
}
.sub-nav .nav-pills>li.active>a,
.sub-nav .nav-pills>li.active>a:hover,
.sub-nav .nav-pills>li.active>a:focus{
/*	color: #76080B;*/
/*	color:#a00; */
	color: #000;
	border-radius: 0;
	background-color: #cAc3b4;
	border: 0
}















