/*-------------[ Global: Navbar]-------------------*/
body{
	background-color: #fcf8ee;
}



/*-------------[ Global: Navbar]-------------------*/
.nrd-nav{
	background: #f3ede1;
	border-bottom: 1px solid #c5b591;
	color: #444;
	padding: 6px 0 5px;
}
.nrd-nav .navbar-brand{
	padding: 0;
	margin: 0;
	color: #453531;
}
.nrd-nav .logo{
  height: 100%
}
.nrd-nav .brush{
  height: 17px
}
.nrd-nav .navbar-nav > li > a {
  color: #9f8447;
}
.nrd-nav .navbar-nav > li > a:hover,
.nrd-nav .navbar-nav > li > a:focus  {
  color: #333;
}
.nrd-nav .navbar-nav > .active > a,
.nrd-nav .navbar-nav > .active > a:hover,
.nrd-nav .navbar-nav > .active > a:focus {
  color: #333;
  background-color: transparent;
}
.nrd-nav .navbar-toggle {
  border-color: transparent;
}
.nrd-nav .navbar-toggle:hover {
  background-color: transparent;
  border-color: #f5f5f5;
}
.nrd-nav .navbar-toggle .icon-bar {
	background-color: #c5b591;
}
.nrd-nav .navbar-toggle:hover .icon-bar {
	background-color: #c83252;
}
