<section class="sub-nav" ng-controller="reportdashCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-home"></span>Home</a>
          </li>
          <li class="active">
            <a href="#">
              <span class="glyphicon glyphicon-dashboard"></span>&nbsp;Report Dashboard</a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-tasks"></span>&nbsp;Public Data Portal</a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-stats"></span>&nbsp;Data Analyzer</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>


<section class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

      <div class="sidebar-header">

      </div>
      <!-- <h5>Select Year</h5> -->
      <selectyear></selectyear>
      <!-- <h5>Select State</h5> -->
      <selectstate></selectstate>
      <!-- <h5>Select District</h5> -->
      <selectdistrict></selectdistrict>
      <!-- <h5>Select Block</h5> -->
      <selectblock></selectblock>
      <!--  <selectgp></selectgp> -->
      <br>
      <button ng-click="viewResults()" type="button" class="btn btn-block btn-success">View Results
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <div class="status-bar btselector warning">
        <span class="brcrumb">
          {{regions[0][selectedState]}}
          <span ng-show="selectedDistrict"  class="glyphicon glyphicon-chevron-right"></span>{{regions[1][selectedState][selectedDistrict]}}
          <span ng-show="selectedBlock" style="font-weight:lighter" class="glyphicon glyphicon-chevron-right"></span>
          {{regions[2][selectedState][selectedDistrict][selectedBlock]}}
        </span>
        <div class="btn-group pull-right">
          <a href="tabular.html" class="btn btn-default">
            <span class="glyphicon glyphicon-th"></span>&nbsp;</a>
          <a href="index.html" class="btn btn-default active">
            <span class="glyphicon glyphicon-stats"></span>&nbsp;</a>
        </div>
        <div class="clearfix"></div>


      </div>




      <div class="main-content">
        <h3>Demand Registration</h3>
        <br>
        <div class="table-reponsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th colspan="2">Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">Demand Registered</td>
                <td>{{yearlydata[0].demand_register}}</td>
              </tr>
              <tr>
                <td colspan="2">Work Alloted</td>
                <td>{{yearlydata[1].labour_budget}}</td>
              </tr>
              <tr>
                <td colspan="2">Unmet Demand</td>
                <td>{{yearlydata[2].work_alloted}}</td>
              </tr>
              <tr>
                <td rowspan="2">Unemployment Allowances</td>
                <td>Due for PDs</td>
                <td>{{yearlydata[3].payable_days}}</td>
              </tr>
              <tr>
                <td>Amount Payable</td>
                <td>{{yearlydata[3].payable_amount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div id="chart" vizconfig="vizconfig" c3chart></div>
      <div id="chart2" vizconfig="vizconfig2" c3chart></div>

      <input type="text" ng-model="vizconfig.data.columns[1][3]">









    </div>
</section>
