<section class="sub-nav" ng-controller="reportdashCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-home"></span>Home</a>
          </li>
          <li class="active">
            <a href="#">
              <span class="glyphicon glyphicon-dashboard"></span>&nbsp;Report Dashboard</a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-tasks"></span>&nbsp;Public Data Portal</a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-stats"></span>&nbsp;Data Analyzer</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>


<section class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

      <div class="sidebar-header">
        <span class="glyphicon glyphicon-sound-stereo"></span>&nbsp;FILTERS
      </div>
      <!-- <h5>Select Year</h5> -->
      <selectyear></selectyear>
      <!-- <h5>Select State</h5> -->
      <selectstate></selectstate>
      <!-- <h5>Select District</h5> -->
      <selectdistrict></selectdistrict>
      <!-- <h5>Select Block</h5> -->
      <selectblock></selectblock>
      <!--  <selectgp></selectgp> -->
      <br>
      <button ng-click="viewResults()" type="button" class="btn btn-block btn-success">View Results
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <div class="status-bar btselector warning">
        <span class="brcrumb">
          {{regions[0][selectedState]}}
          <span ng-show="selectedDistrict" class="glyphicon glyphicon-chevron-right"></span>{{regions[1][selectedState][selectedDistrict]}}
          <span ng-show="selectedBlock" style="font-weight:lighter" class="glyphicon glyphicon-chevron-right"></span>
          {{regions[2][selectedState][selectedDistrict][selectedBlock]}}
        </span>
        <div class="btn-group pull-right">
          <a href="tabular.html" class="btn btn-default">
            <span class="glyphicon glyphicon-th"></span>&nbsp;</a>
          <a href="index.html" class="btn btn-default active">
            <span class="glyphicon glyphicon-stats"></span>&nbsp;</a>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="main-content">
        <div ng-if="false" ng-include="'modules/reportdash/tabular/tableview.html'"></div>
        <div ng-if="true" ng-include="'modules/reportdash/viz/viz.html'"></div>
      </div>










    </div>
</section>
